.blinking-cursor {
  display: inline-block;
  width: 8px;
  background-color: #22c55e; /* Matches the green for correct text */
  animation: blink 1s steps(2, start) infinite;
  height: 1em; /* Adjust to match text height */
  vertical-align: text-bottom;
}
@keyframes blink {
  0% {
    background-color: #22c55e; /* Light green highlight for the current character */
  }
  100% {
    background-color: transparent; /* Light green highlight for the current character */
  }
}

.current-char {
  animation: blink 1s steps(2, start) infinite;
  position: relative;
}

.non-text {
  color: #7c7c7c;
}